body{
font-family: "arial black" ;
bgcolor: black;
}
h1{
color: red;
font-size: 30px;
}
h2{
color: skyblue;
font-size: 30px;
}
p{
color: whithe;
font-size: 30px;
}
ul{
  color:Yellow;
  font-size:30px;
}